@media print {
  @page {
    size: A4;
    margin: 10mm;
  }

  body {
    margin: 0;
    padding: 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    page-break-before: auto;
  }

  td {
    /* border: 1px solid #ccc; */
    padding: 6px;
  }

  thead {
    background: #eee !important;
    color: #000 !important;
  }

  tr {
    page-break-inside: avoid;
  }

  .overflow-x-auto {
    overflow: visible !important;
  }
  .print-summary {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
}
